@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media print {
  body {
    background: white;
  }
  .no-print {
    display: none !important;
  }
  .print-break {
    page-break-before: always;
  }
}
